---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import "../styles/global.css";
---

<Layout title="Welcome to Astro.">
  <main class="p-4 m-auto lg:min-w-sm">
    <h1 class="text-lg font-bold text-gray-200">
      Blog by <span class="text-gradient">jonDatz.</span>
    </h1>
    <p
      class="p-4 overflow-hidden text-gray-200 duration-500 rounded drop-shadow-2xl bg-slate-50/5 ring ring-slate-300/25"
    >
      To get started, open the directory <code class="code-gradient bg-slate-50"
        >src/pages</code
      > in your project.<br />
      <strong class="text-fuchsia-400">Code Challenge:</strong> Tweak the "Welcome
      to Astro" message above.
    </p>
    <container class="justify-items-stretch sm:flex-grow">
      <ul
        class="flex flex-wrap items-stretch gap-4 mt-4 md:flex-row sm:flex-col sm:w-full md:justify-evenly"
      >
        <Card
          href="/about"
          title="about."
          body="Learn about the tech stack used here, some of my history, and prefered hobbies."
        />
        <Card
          href="/blog"
          title="blog."
          body="Rambles of my learnings, posting code examples, design concepts, and plans for future work.."
        />
        <Card
          href="https://github.com/jondatz"
          title="github."
          body="Explore my Github directly."
        />
      </ul>
    </container>
  </main>
</Layout>
