---
export interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<li
  class="h-32 max-w-sm p-2 overflow-hidden transition duration-500 transform rounded drop-shadow-2xl bg-slate-900/5 hover:scale-105 ring ring-slate-300/25 hover:ring-fuchsia-400/75 basis-1/3"
>
  <a href={href} class="">
    <h2 class="px-2 mb-2 text-xl font-bold code-gradient">
      {title}
      <span>&rarr;</span>
    </h2>
    <p class="px-2 pb-2 text-base text-slate-50">
      {body}
    </p>
  </a>
</li>
