---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/base.css'
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
    <body>
        <Header title={SITE_TITLE} />
		    <slot />
        <Footer />
	</body>
</html>
<style is:global>
    @tailwind base;
    @tailwind components;
    @tailwind utilities;

    html, body {
        margin: 0;
        height: 100%;
    }
    text-gradient {
        display: block;
		--accent: 124, 58, 237;
        --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
    }
	html {
		font-family: system-ui, sans-serif;
		background: linear-gradient(45deg,#3a3e70 10%, #333661 30%,#2b2d52 50% , #10111f 80%);
        background-size: cover;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>